[user]
    name = Brendan Conniff
    email = brendan.conniff@gmail.com
[alias]
    ls = log --date=format-local:'%m/%d %H:%M' --pretty=format:'%C(yellow)%h%Creset %s %Cgreen%cd %C(bold blue)%ae%Creset%C(bold black)%d%Creset' --abbrev-commit
    lo = log --date=format-local:'%m/%d %H:%M' --pretty=format:'%C(yellow)%h%Creset %s %Cgreen%cd %C(bold blue)%ae%Creset' --abbrev-commit
    ll = ls --numstat
[core]
    excludesfile = .gitignore
    editor = vim
[log]
    date = local
[checkout]
    defaultRemote = origin
[push]
    default = upstream
[diff]
    renames = false
[include]
    path = .gitconfig.local
